img#profile_picture{
	width: 500px;
    margin: 0px auto;
    border-radius: 25px;
    margin-top: 20px;
} 


body{
	background-color: #00e6e6;
	text-align: center;
	height: 100%;
}
h1{
	color: blue;
}
ul{
	color: blue;
}
img#pizza{
	width: 75px;
}

img#steak{
	width: 75px;
}

img#noodles{
	width: 75px;
}
li{
	font-size: 25px;
}
h1{
	font-size: 75px;
}
p#intro{
	text-align: center;
	color: blue;
	font-size: 30px;
}
h1#list_title{
	text-align: center;
}
ul#food_list{
   text-align: center
}
div#top_div{
	background-color: aquamarine;
	border-radius: 25px;
	width: 45%;
	height: 100vh;
	margin: 0px auto;
}
