img#profile_picture{
	width: 500px;
	  display: block;
    margin-left: auto;
    margin-right: auto
    border-radius: 25px;
    opacity: 0;
}
img#profile_picture{
	opacity: 1.0;
}
body{
	background-image: url("../assets/rainbow.gif");
}
h1{
	color: blue;
}
ul{
	color: blue;
}
img#pizza{
	width: 75px;
}

img#steak{
	width: 75px;
}

img#noodles{
	width: 75px;
}
li{
	font-size: 25px;
}
h1{
	font-size: 75px;
}
p#intro{
	text-align: center;
	color: blue;
	font-size: 30px;
}
h1#list_title{
	text-align: center;
}
ul#food_list{
   text-align: center
}
div#top_div{
	background-color: red;
	border-radius: 25px;
}
